<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>amap</string>
		<key>appKey</key>
		<string>f88336976d63699780c712b9018c1ce5</string>
		<key>factoryName</key>
		<string>YDAmapMapFactory</string>
		<key>isOpen</key>
		<string>YES</string>
	</dict>
	<dict>
		<key>isOpen</key>
		<string>NO</string>
		<key>factoryName</key>
		<string>YDBaiduMapFactory</string>
		<key>id</key>
		<string>baidu</string>
		<key>appKey</key>
		<string>FhsUt8diBAv5ZYKemUqlQeSXzGkYaSMt</string>
	</dict>
</array>
</plist>
